In [23]:
import pandas as pd
import numpy as np

In [24]:
# df = pd.read_csv('2022_day4_sample.csv', header=None, names=['left', 'right'], delimiter=',')
df = pd.read_csv('2022_day4.csv', header=None, names=['left', 'right'], delimiter=',')
df.head()

    left  right
0   2-88  13-89
1  12-94  12-94
2  34-69  34-61
3   9-76    9-9
4  35-82  34-52

# Set Method

Did not work at first because df['both'] was not sorted

In [25]:
df['leftr'] = df['left'].apply(lambda x: list(range(int(x.split('-')[0]), int(x.split('-')[1]) + 1)))
df['rightr'] = df['right'].apply(lambda x: list(range(int(x.split('-')[0]), int(x.split('-')[1]) + 1)))
df.head(10)

,left,right,leftr,rightr
0,2-88,13-89,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2..."
1,12-94,12-94,"[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...","[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2..."
2,34-69,34-61,"[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4..."
3,9-76,9-9,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...",[9]
4,35-82,34-52,"[35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4..."
5,9-10,10-88,"[9, 10]","[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2..."
6,57-71,71-75,"[57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 6...","[71, 72, 73, 74, 75]"
7,50-71,71-91,"[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 6...","[71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 8..."
8,44-67,43-43,"[44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 5...",[43]
9,68-69,67-68,"[68, 69]","[67, 68]"

In [26]:
df['both'] = df.apply(lambda x: list((set(x['leftr'])) & (set(x['rightr']))), 1)
df['both'].apply(lambda x: x.sort())
df.head(10)

,left,right,leftr,rightr,both
0,2-88,13-89,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2..."
1,12-94,12-94,"[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...","[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...","[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2..."
2,34-69,34-61,"[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4..."
3,9-76,9-9,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...",[9],[9]
4,35-82,34-52,"[35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 4..."
5,9-10,10-88,"[9, 10]","[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...",[10]
6,57-71,71-75,"[57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 6...","[71, 72, 73, 74, 75]",[71]
7,50-71,71-91,"[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 6...","[71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 8...",[71]
8,44-67,43-43,"[44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 5...",[43],[]
9,68-69,67-68,"[68, 69]","[67, 68]",[68]

In [27]:
df['fully'] = np.where((df['both'] == df['leftr']) | (df['both'] == df['rightr']), 1, 0)
df.head(10)

,left,right,leftr,rightr,both,fully
0,2-88,13-89,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...",0
1,12-94,12-94,"[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...","[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...","[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...",1
2,34-69,34-61,"[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...",1
3,9-76,9-9,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...",[9],[9],1
4,35-82,34-52,"[35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 4...",0
5,9-10,10-88,"[9, 10]","[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...",[10],0
6,57-71,71-75,"[57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 6...","[71, 72, 73, 74, 75]",[71],0
7,50-71,71-91,"[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 6...","[71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 8...",[71],0
8,44-67,43-43,"[44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 5...",[43],[],0
9,68-69,67-68,"[68, 69]","[67, 68]",[68],0

# Comparitive Method

In [28]:
df['left_1'] = df['left'].str.split('-').apply(lambda x: int(x[0]))
df['left_2'] = df['left'].str.split('-').apply(lambda x: int(x[1]))
df['right_1'] = df['right'].str.split('-').apply(lambda x: int(x[0]))
df['right_2'] = df['right'].str.split('-').apply(lambda x: int(x[1]))
df.head(10)

,left,right,leftr,rightr,both,fully,left_1,left_2,right_1,right_2
0,2-88,13-89,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...",0,2,88,13,89
1,12-94,12-94,"[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...","[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...","[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...",1,12,94,12,94
2,34-69,34-61,"[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...",1,34,69,34,61
3,9-76,9-9,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...",[9],[9],1,9,76,9,9
4,35-82,34-52,"[35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 4...",0,35,82,34,52
5,9-10,10-88,"[9, 10]","[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...",[10],0,9,10,10,88
6,57-71,71-75,"[57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 6...","[71, 72, 73, 74, 75]",[71],0,57,71,71,75
7,50-71,71-91,"[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 6...","[71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 8...",[71],0,50,71,71,91
8,44-67,43-43,"[44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 5...",[43],[],0,44,67,43,43
9,68-69,67-68,"[68, 69]","[67, 68]",[68],0,68,69,67,68

In [29]:
df['left_fully'] = np.where((df['left_1'] >= df['right_1']) & (df['left_2'] <= df['right_2']), 1, 0)
df['right_fully'] = np.where((df['right_1'] >= df['left_1']) & (df['right_2'] <= df['left_2']), 1, 0)
df['fully_2'] = np.maximum(df['left_fully'], df['right_fully'])
df.head(10)

,left,right,leftr,rightr,both,fully,left_1,left_2,right_1,right_2,left_fully,right_fully,fully_2
0,2-88,13-89,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...",0,2,88,13,89,0,0,0
1,12-94,12-94,"[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...","[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...","[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...",1,12,94,12,94,1,1,1
2,34-69,34-61,"[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...",1,34,69,34,61,0,1,1
3,9-76,9-9,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...",[9],[9],1,9,76,9,9,0,1,1
4,35-82,34-52,"[35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 4...","[34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 4...","[35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 4...",0,35,82,34,52,0,0,0
5,9-10,10-88,"[9, 10]","[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...",[10],0,9,10,10,88,0,0,0
6,57-71,71-75,"[57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 6...","[71, 72, 73, 74, 75]",[71],0,57,71,71,75,0,0,0
7,50-71,71-91,"[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 6...","[71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 8...",[71],0,50,71,71,91,0,0,0
8,44-67,43-43,"[44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 5...",[43],[],0,44,67,43,43,0,0,0
9,68-69,67-68,"[68, 69]","[67, 68]",[68],0,68,69,67,68,0,0,0

# Results

In [30]:
print(df['fully'].sum())

515

In [31]:
print(df['fully_2'].sum())

515

In [32]:
df[(df['fully'] == 0) & (df['fully_2'] == 1)]

Empty DataFrame
Columns: [left, right, leftr, rightr, both, fully, left_1, left_2, right_1, right_2, left_fully, right_fully, fully_2]
Index: []